apiVersion: v1
kind: Service
metadata:
  name: iot-app
  namespace: dev
spec:
  type : LoadBalancer
  selector:
    app: iot-app
  ports:
    - protocol : TCP
      port : 8888
      targetPort: 8888
